ul > li > a.active {
  color: #fb9e3a;
  text-decoration: underline;
}
ul > li > a:hover {
  background-color: #fb9e3a;
  color: white;
}

form >fieldset> input:focus {
  border: 2px solid #f58f4b;
  outline: none;
  box-shadow: 0 0 5px 8px #f7945220;
}
form > input:focus {
  border: 2px solid #f58f4b;
  outline: none;
  box-shadow: 0 0 5px 8px #f7945220;
}
form > select:focus {
  border: 2px solid #f58f4b;
  outline: none;
  box-shadow: 0 0 5px 8px #f7945220;
}

form > input {
  width: 100%;
  background-color: white;
  border: 1px solid #9ca3af62;
}

form  input::placeholder {
  color: #9ca3afa8;
  font-size: 12px;
}

.orange-btn {
  background-color: #fb9e3a;
  color: whitesmoke;
  border: none;
}
.orange-btn:hover {
  background-color: #f38a1a;
}

form label{
  color: var(--color-accent);
}