@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default
  , dark --prefersdark
}
@plugin "daisyui/theme" {
   name: "light";
  default: true;
  --color-primary: #FB9E3A;
  --color-secondary: #454545;
   --color-accent: #4C585B; 
   --color-base-200 : #FEF3E2
}
@plugin 'daisyui/theme'{
     name: "dark";
  default: true;
 --color-primary: #FB9E3A;
  --color-secondary: #FB9E3A;
   --color-accent: #5e686d; 
   /* --color-accent-content: #FFFDF6;  */
    --color-base-200 : #FEF3E2
  }

*{
   font-family: "Quicksand", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Inter", sans-serif;
}


